/* --- STYLES FOR ALL PAGES --- */
body {
    /* Typography */
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  
    /* Background Visual */
    background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wCEAAkGBxAQEBUQEhAQEBIPEA8PDxAVDw8PDxUPFRUWFhUSFRUYHSggGBolGxUVITEhJSkrLi4uFx8zODMtNygtLisBCgoKDQ0NDg0NDi0ZFRkrKysrNys3LTcrNysrKzctLTcrLTc3Ky0rNystKy0tLSstKys3LTc3Ky0rLSsrKzcrN//AABEIALEBHAMBIgACEQEDEQH/xAAaAAADAQEBAQAAAAAAAAAAAAAAAQIDBAcF/8QALRAAAgIABQMCBgIDAQAAAAAAAAECEQMSITFBUWFxgZEiobHB0fAEEzJCUoL/xAAWAQEBAQAAAAAAAAAAAAAAAAAAAQL/xAAVEQEBAAAAAAAAAAAAAAAAAAAAAf/aAAwDAQACEQMRAD8A9ozApEyVEJmhsmMyzDTA1EFEuVbgWImUx5kAxmbxCHNsDSUyc7I5NMqATZm5a0OQ4R+YDii0JFIIaGCGFIAAAAACAAAKAAAgEMAAAABMaENANiQMSYFADZNgZy1Jmi0rE4PqFQkWkQ5JA2wKxMRpcGWJjJb/AEsnFi5adK9yYJp682rApyeye/8A0na9DXL1dhRlHTl09gLUrdV5NLBJIaoCWtSki8oUBmkWkFFIBJFIAAYAACGIAABiAAAAAAYBAROdcWU2ZS1ApOypSSWpnHQqTsB5gzkMlMDaxWKJEsThav5AauRzyxH/AMt97Hi4lbHI8WXD08AdixH02Hnb5oShSBBTcCWaQSM8WWu19WvwA0TRP9yutui5foJzuVdt+4DnS12/IsKL3bt7eAzWn26lxAtIqKBFJAUhiQrAoBWFgUILCwGIVjsBgIYAIAAAAABkuQnIQQCZaQOIGNc2S8Wt/wBQsZu6j6lPD07gZTx1dU37UaKetVx6k5Ndlpb7FuN877gZYuKpfDclxpSt+Qg3sllXuzRRS2RUIdQMv6pN10W+pulSotKkKwIzCYMqCCk4kqLevyN2hpAYRwad18qCcOx0CaA45LMv1G0Yk4kFd7d/3chqT/2fhKn7gdEUWc+CtKb1NW6AbkSnZndsU4dEtd2+3NAauQRswgmlo79KN4tgVfUExGbg7306AbNkpiSRWgQ86KsVIYUAAAS0DRQAZoqKDKUEBM3SYyWrA5sO72fZV9TdxRaijGc9aATT67+CVPgcWnzdaaPQvKA4oqKEgsC5CyhFDsDJwZcWOUimwosLM/6Y3bVlpIBSnRDma0S4AZLuPc0cAypAZxi2XT6EufQmcpUwIXtqE9fdcEQh117cWbRjS/WBlOLfO2u1fc2TAEBasMvUIFgTlBxKHQQkMYBSFYwAQDAAABNhCbGSZ4uJX2A0lNJGSi5a7J8UZ4bTd6vvrXob5gDJ0CgBRAm3x6s0iUkIBhQWFgZavsOKa79yYvv8jVRCobQQk7qtN7+xco2TCD53A0ACJS6AU2ZydgFACJmi6EwJSKaBIYEouKBIaQFJBQAADEADEAAAAAAArJbApkDsAjPEk+K9bMo4FvM7bfHHsbIuwJUSqBuiVKwKQmwoloCs4ZgjEtRAgdvoWMDLIOTa/aKAKlSHmGQ0ApOyaHNck1QGkUMlTQZgKbIxFaodoUpewFIaJhsWgChoBgAAAAAAAAAAAhiYQmybKZDQDbJslyGgC30JdlsQEsSUrrret1Q1oVYDhhV/s351LcQzrqKGuvt4AtDEMAAACoUkGYyyg2+jAuUyczIjqaZgJkK9OgMqMNAM3aW9+a29Co6rQbRKetewFJPsDiCZWYCVicaX4aNEyUrW2m9UVGNAWhkOVDUgKASCwhkyYPUUkwJjIvMZ7EZ2+wHQMxjI0UgGZT3r3LlMTAlRLocQCooMhdDCMcSP1RGNqq8aF4stV8zlbS1k3be4G7wkl3el8+EbQMcDC1zO7e1u6R0IBgJggKAQJgKgoYATkQZEUAVH9YspbkCAydkT69GdDiYYid76ePuBlLH4SzfT3HBN6t+OnsiFhu2nbj4r6blxwoUll8aPT8AaLFrT5GkZuS00+Zlg4VcJGipAUoCSafVP3XgFP92IlKS21+QGq9h0RB9y7QQwZLmjmx/5Sfwxu+X27AXJ2+31ZlJtv4a03b29CWpt6fCkq6vU3w8OkluFTDNzS8amqQ4xNKAyaHEsKAYAAARiSpDbMpPUIUYrd7+xGOk66WvFdzSSvf8AJji7aXptrSA6IstGKNEwKkAIAAEOxMBjEhhSkZZm+31LbvwStwFXccXQ9egnh9wLjOx0Z5aBSfUDTKFEZq/bBYi6/UIrKPIiXipdfZsmX8iPGvZfcC5UiJNLX3InNviumtktct3XogM5Yl6q68b+4nC99XxaXsXBp60vcvK+wVksJLbT046BCFbb+KNZ9OeF+excEAsPD9WzVRGkMIAYAAkhgAAS2NkMBTkluyUn0NIxKAyyPrp0DJ2NRMDG6GpVwy2wAyljdF5b0RksWctr9tPU1xI5tNO7/BpCQEwhLmXoi/6+7+Q49SrAnMFWCgUAlEoAAAAAAAFYEz01XsZzRq2S4gZa9/P2M44fxN+Kf2Ol4fclwYVhj4ObnbzRpGGlPXSn3Hl+ZrGCAyw8LXbZaGksJP016GgBGTiXFAwiwKAAAAAAAQxMBSZMETJlRAsAAAFIYmBm3Q7JxTN4lJt8bgap8k5qMI/yk1s9uE6FhyzPxrWqA6HP9odkLQcX+0B0AAAAIYAAgABMSAAEWAAMif2YABEtzSAABQmMAM2Sv8l6gAGwAAAAAACYABmtxoQAWhgACJkAATI4v5ez/wDIAINYb+howADhwf8ANeWfRGBaP//Z");
  }
  
  html {
    /* Positioning */
    position: relative;
  
    /* Box-model */
    min-height: 100%;
  }
  
  /* adding space for fixed nav */
  main {
    margin: 80px 0;
  }
  
  /* style for use of all white main boxes */
  .block {
    background-color: #fff;
  
    padding: 30px;
    margin-bottom: 30px;
  }
  
  .block-header {
    /* Typography */
    color: #4aaaa5;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-weight: bold;
  }

  
  /* NAV START */
  #logo {
    font-family: Georgia, Times, "Times New Roman", serif;
  
    /* Typography */
    font-size: 24px;
    font-weight: bold;
    color: #fff;
  
    /* Visual */
    background: #4aaaa5;
  }
  
  /* override bootstrap hover color and border */
  .navbar-default .navbar-nav > li > a:hover {
    color: #4aaaa5;
  }
  
  .navbar {
    background: white;
    border: none;
  }
  
  /* media query for nav background color change */
  @media only screen and (max-width: 767px) {
    .navbar-header {
      background-color: #4aaaa5;
    }
  }
  /* END NAV */
  
  
  /* CONNECT W/ ME CSS */
  .connect-header {
    /* Typography */
    font-size: 25px;
  }
  
  .connect-photo {
    /* Box-model */
    width: 55px;
    height: 55px;
  }
  
  #images {
    /* Box-model */
    padding-top: 15px;
  
    /* Typography */
    text-align: center;
  }
  /* END CONNECT W/ ME */
  
  
  /* BEGIN FOOTER */
  .footer {
    /* Positioning */
    position: absolute;
    bottom: 0;
  
    /* Box-model */
    width: 100%;
    height: 60px;
  
    /* Visual */
    background-color: #666;
  }
  
  .text-muted-footer {
    /* Box-model */
    margin-top: 15px;
  
    /* Typography */
    color: #fff;
  }
  
  .two-toned-footer-color {
    /* Box-model */
    height: 6px;
    padding-top: 3px;
  
    /* Visual */
    background-color: #4aaaa5;
  }
  /* END FOOTER */
  /* --- END STYLES FOR ALL PAGES --- */
  
  /* --- PAGE-SPECIFIC STYLES --- */
  /* ABOUT-ME PAGE */
  .about-me-header {
    /* Positioning */
    margin-bottom: 33px;
    font-family: Georgia, Times, "Times New Roman", serif;
  
    /* Typography */
    font-size: 32px;
    font-weight: bold;
    color: #4aaaa5;
  }
  
  #about-image {
    /* Positioning */
    float: left;
  
    /* Box-model */
    width: 200px;
    margin: 0 20px 10px 0;
  }
  /* END ABOUT-ME PAGE */
  
  /* CONTACT FORM PAGE  */
  .form-control {
    border-radius: 0;
    min-width: 100%;
    max-width: 100%;
  }
  
  .submit-btn {
    /* Box-model */
    padding: 15px 30px;
    font-size: 16px;
    font-weight: lighter;
  
    /* Typography */
    color: #fff;
  
    /* Visual */
    background-color: #4aaaa5;
    border: 0;
  }
  
  .submit-btn:hover {
    opacity: .7;
  }
  
  /* END CONTACT FORM PAGE */
  